[{'AppstreamId': 'org.fwupd.hsi.IntelCet.Active',
  'Created': 1668737772,
  'Description': 'Intel Control-Flow Enforcement Technology detects and '
                 'prevents certain methods for running malicious software on '
                 'the device.',
  'Flags': 1025,
  'Guid': ['b9a2dd81-159e-5537-a7db-e7101d164d3f',
           '30249f37-d140-5d3e-9319-186b1bd5cac3',
           'ab855c04-4ff6-54af-8a8a-d8193daa0cd8',
           '3ebbde86-d03e-549a-a8fd-02ebf9aa537a'],
  'HsiResult': 13,
  'Name': 'Intel CET Active',
  'Plugin': 'cpu',
  'Summary': 'Intel CET',
  'Uri': 'https://fwupd.github.io/libfwupdplugin/hsi.html#org.fwupd.hsi.IntelCet.Active'},
 {'AppstreamId': 'org.fwupd.hsi.Kernel.Swap',
  'Created': 1668737772,
  'Description': 'Linux Kernel Swap temporarily saves information to disk as '
                 'you work. If the information is not protected, it could be '
                 'accessed by someone if they obtained the disk.',
  'Flags': 1025,
  'HsiResult': 7,
  'Name': 'Linux swap',
  'Plugin': 'linux_swap',
  'Summary': 'Linux Swap',
  'Uri': 'https://fwupd.github.io/libfwupdplugin/hsi.html#org.fwupd.hsi.Kernel.Swap'},
 {'AppstreamId': 'org.fwupd.hsi.Fwupd.Plugins',
  'Created': 1668737772,
  'Description': 'Firmware Updater Verification checks that software used for '
                 'updating has not been tampered with.',
  'Flags': 1025,
  'HsiResult': 10,
  'Name': 'fwupd plugins',
  'Plugin': 'core',
  'Summary': 'Firmware Updater Verification',
  'Uri': 'https://fwupd.github.io/libfwupdplugin/hsi.html#org.fwupd.hsi.Fwupd.Plugins'},
 {'AppstreamId': 'org.fwupd.hsi.Kernel.Tainted',
  'Created': 1668737772,
  'Description': 'Linux Kernel Verification makes sure that critical system '
                 'software has not been tampered with. Using device drivers '
                 'which are not provided with the system can prevent this '
                 'security feature from working correctly.',
  'Flags': 9216,
  'HsiResult': 9,
  'Name': 'Linux kernel',
  'Plugin': 'linux_tainted',
  'Summary': 'Linux Kernel Verification',
  'Uri': 'https://fwupd.github.io/libfwupdplugin/hsi.html#org.fwupd.hsi.Kernel.Tainted'},
 {'AppstreamId': 'org.fwupd.hsi.Kernel.Lockdown',
  'Created': 1668737772,
  'Description': 'Linux Kernel Lockdown mode prevents administrator (root) '
                 'accounts from accessing and changing critical parts of '
                 'system software.',
  'Flags': 9216,
  'HsiResult': 2,
  'Name': 'Linux kernel lockdown',
  'Plugin': 'linux_lockdown',
  'Summary': 'Linux Kernel Lockdown',
  'Uri': 'https://fwupd.github.io/libfwupdplugin/hsi.html#org.fwupd.hsi.Kernel.Lockdown'},
 {'AppstreamId': 'org.fwupd.hsi.Uefi.SecureBoot',
  'BiosSettingCurrentValue': 'Disable',
  'BiosSettingId': 'com.thinklmi.SecureBoot',
  'Created': 1668737772,
  'Description': 'UEFI Secure Boot prevents malicious software from being '
                 'loaded when the device starts.',
  'Flags': 5120,
  'HsiResult': 2,
  'Name': 'UEFI secure boot',
  'Plugin': 'uefi_capsule',
  'Summary': 'UEFI Secure Boot',
  'Uri': 'https://fwupd.github.io/libfwupdplugin/hsi.html#org.fwupd.hsi.Uefi.SecureBoot'},
 {'AppstreamId': 'org.fwupd.hsi.Mei.OverrideStrap',
  'Created': 1668737772,
  'Description': 'Intel Management Engine Override disables checks for device '
                 'software tampering.',
  'Flags': 1,
  'HsiLevel': 1,
  'HsiResult': 5,
  'Metadata': {'kind': 'CSME'},
  'Name': 'CSME override',
  'Plugin': 'pci_mei',
  'Summary': 'Intel Management Engine Override',
  'Uri': 'https://fwupd.github.io/libfwupdplugin/hsi.html#org.fwupd.hsi.Mei.OverrideStrap'},
 {'AppstreamId': 'org.fwupd.hsi.Mei.Version',
  'Created': 1668737772,
  'Description': 'The Intel Management Engine controls device components and '
                 'needs to have a recent version to avoid security issues.',
  'Flags': 1,
  'HsiLevel': 1,
  'HsiResult': 3,
  'Metadata': {'kind': 'CSME', 'version': '0:16.0.15.1662'},
  'Name': 'CSME v0:16.0.15.1662',
  'Plugin': 'pci_mei',
  'Summary': 'Intel Management Engine Version',
  'Uri': 'https://fwupd.github.io/libfwupdplugin/hsi.html#org.fwupd.hsi.Mei.Version'},
 {'AppstreamId': 'org.fwupd.hsi.Mei.KeyManifest',
  'Created': 1668737772,
  'Description': 'The Intel Management Engine Key Manifest must be valid so '
                 'that the device firmware can be trusted by the CPU.',
  'Flags': 1,
  'Guid': ['dd17041c-09ea-4b17-a271-5b989867ec65',
           'fccad2fe-62ae-5879-b7a9-4ead7bce50f4',
           '4837b81a-56c3-501f-8b4c-1e71882379fe',
           '162d17d4-504c-5dc2-80f0-77d3b4fab2f3',
           'd46cdaea-564c-5101-bc30-656897e5bce0',
           '562a0522-d1a0-4b88-ad34-3cfda8788412'],
  'HsiLevel': 1,
  'HsiResult': 3,
  'Name': 'MEI key manifest',
  'Plugin': 'intel_me',
  'Summary': 'MEI Key Manifest',
  'Uri': 'https://fwupd.github.io/libfwupdplugin/hsi.html#org.fwupd.hsi.Mei.KeyManifest'},
 {'AppstreamId': 'org.fwupd.hsi.PlatformDebugEnabled',
  'Created': 1668737772,
  'Description': 'Platform Debugging allows device security features to be '
                 'disabled. This should only be used by hardware '
                 'manufacturers.',
  'Flags': 1,
  'Guid': ['b9a2dd81-159e-5537-a7db-e7101d164d3f',
           '30249f37-d140-5d3e-9319-186b1bd5cac3',
           'ab855c04-4ff6-54af-8a8a-d8193daa0cd8',
           '3ebbde86-d03e-549a-a8fd-02ebf9aa537a'],
  'HsiLevel': 1,
  'HsiResult': 2,
  'Name': 'Platform Debugging',
  'Plugin': 'msr',
  'Summary': 'Platform Debugging',
  'Uri': 'https://fwupd.github.io/libfwupdplugin/hsi.html#org.fwupd.hsi.PlatformDebugEnabled'},
 {'AppstreamId': 'org.fwupd.hsi.Spi.SmmBwp',
  'Created': 1668737772,
  'Description': 'Firmware BIOS Region protects device firmware memory from '
                 'being tampered with.',
  'Flags': 1,
  'HsiLevel': 1,
  'HsiResult': 5,
  'Name': 'SPI BIOS region',
  'Plugin': 'pci_bcr',
  'Summary': 'Firmware BIOS Region',
  'Uri': 'https://fwupd.github.io/libfwupdplugin/hsi.html#org.fwupd.hsi.Spi.SmmBwp'},
 {'AppstreamId': 'org.fwupd.hsi.Spi.Ble',
  'Created': 1668737772,
  'Description': 'Firmware Write Protection protects device firmware memory '
                 'from being tampered with.',
  'Flags': 1,
  'HsiLevel': 1,
  'HsiResult': 1,
  'Name': 'SPI lock',
  'Plugin': 'pci_bcr',
  'Summary': 'Firmware Write Protection Lock',
  'Uri': 'https://fwupd.github.io/libfwupdplugin/hsi.html#org.fwupd.hsi.Spi.Ble'},
 {'AppstreamId': 'org.fwupd.hsi.Spi.Bioswe',
  'Created': 1668737772,
  'Description': 'Firmware Write Protection protects device firmware memory '
                 'from being tampered with.',
  'Flags': 1,
  'HsiLevel': 1,
  'HsiResult': 2,
  'Name': 'SPI write',
  'Plugin': 'pci_bcr',
  'Summary': 'Firmware Write Protection',
  'Uri': 'https://fwupd.github.io/libfwupdplugin/hsi.html#org.fwupd.hsi.Spi.Bioswe'},
 {'AppstreamId': 'org.fwupd.hsi.SupportedCpu',
  'Created': 1668737772,
  'Description': 'Each system should have tests to ensure firmware security.',
  'Flags': 1,
  'Guid': ['b9a2dd81-159e-5537-a7db-e7101d164d3f',
           '30249f37-d140-5d3e-9319-186b1bd5cac3',
           'ab855c04-4ff6-54af-8a8a-d8193daa0cd8',
           '3ebbde86-d03e-549a-a8fd-02ebf9aa537a'],
  'HsiLevel': 1,
  'HsiResult': 3,
  'Name': 'Supported CPU',
  'Plugin': 'cpu',
  'Summary': 'Processor Security Checks',
  'Uri': 'https://fwupd.github.io/libfwupdplugin/hsi.html#org.fwupd.hsi.SupportedCpu'},
 {'AppstreamId': 'org.fwupd.hsi.Tpm.EmptyPcr',
  'Created': 1668737772,
  'Description': 'The TPM (Trusted Platform Module) Platform Configuration is '
                 'used to check whether the device start process has been '
                 'modified.',
  'Flags': 1,
  'Guid': ['ff71992e-52f7-5eea-94ef-883e56e034c6',
           'fac1c8f3-73c8-5cd6-8330-07a3690b5140',
           '2b17590c-d755-5c13-a7d4-f68fb0dcb4c4',
           'e9ccc1dc-960a-5e09-afe9-e59a904b776d',
           '5c410147-6fa3-5a6c-9386-c006959c7f91'],
  'HsiLevel': 1,
  'HsiResult': 3,
  'Name': 'TPM empty PCRs',
  'Plugin': 'tpm',
  'Summary': 'TPM Platform Configuration',
  'Uri': 'https://fwupd.github.io/libfwupdplugin/hsi.html#org.fwupd.hsi.Tpm.EmptyPcr'},
 {'AppstreamId': 'org.fwupd.hsi.Tpm.Version20',
  'Created': 1668737772,
  'Description': 'TPM (Trusted Platform Module) is a computer chip that '
                 'detects when hardware components have been tampered with.',
  'Flags': 1,
  'Guid': ['ff71992e-52f7-5eea-94ef-883e56e034c6',
           'fac1c8f3-73c8-5cd6-8330-07a3690b5140',
           '2b17590c-d755-5c13-a7d4-f68fb0dcb4c4',
           'e9ccc1dc-960a-5e09-afe9-e59a904b776d',
           '5c410147-6fa3-5a6c-9386-c006959c7f91'],
  'HsiLevel': 1,
  'HsiResult': 11,
  'Name': 'TPM v2.0',
  'Plugin': 'tpm',
  'Summary': 'TPM v2.0',
  'Uri': 'https://fwupd.github.io/libfwupdplugin/hsi.html#org.fwupd.hsi.Tpm.Version20'},
 {'AppstreamId': 'org.fwupd.hsi.Uefi.Pk',
  'Created': 1668737772,
  'Description': 'The UEFI Platform Key is used to determine if device '
                 'software comes from a trusted source.',
  'Flags': 1,
  'Guid': ['71599d14-9b31-5270-b3bd-74c494585820',
           '562a0522-d1a0-4b88-ad34-3cfda8788412'],
  'HsiLevel': 1,
  'HsiResult': 3,
  'Name': 'UEFI platform key',
  'Plugin': 'uefi_pk',
  'Summary': 'UEFI Platform Key',
  'Uri': 'https://fwupd.github.io/libfwupdplugin/hsi.html#org.fwupd.hsi.Uefi.Pk'},
 {'AppstreamId': 'org.fwupd.hsi.Mei.ManufacturingMode',
  'Created': 1668737772,
  'Description': 'Manufacturing Mode is used when the device is manufactured '
                 'and security features are not yet enabled.',
  'Flags': 2048,
  'HsiLevel': 1,
  'HsiResult': 6,
  'Metadata': {'kind': 'CSME'},
  'Name': 'CSME manufacturing mode',
  'Plugin': 'pci_mei',
  'Summary': 'Intel Management Engine Manufacturing Mode',
  'Uri': 'https://fwupd.github.io/libfwupdplugin/hsi.html#org.fwupd.hsi.Mei.ManufacturingMode'},
 {'AppstreamId': 'org.fwupd.hsi.IntelBootguard.Enabled',
  'Created': 1668737772,
  'Description': 'Intel BootGuard prevents unauthorized device software from '
                 'operating when the device is started.',
  'Flags': 1,
  'HsiLevel': 2,
  'HsiResult': 1,
  'Name': 'Intel BootGuard',
  'Plugin': 'pci_mei',
  'Summary': 'Intel BootGuard',
  'Uri': 'https://fwupd.github.io/libfwupdplugin/hsi.html#org.fwupd.hsi.IntelBootguard.Enabled'},
 {'AppstreamId': 'org.fwupd.hsi.IntelBootguard.Acm',
  'Created': 1668737772,
  'Description': 'Intel BootGuard prevents unauthorized device software from '
                 'operating when the device is started.',
  'Flags': 1,
  'HsiLevel': 2,
  'HsiResult': 3,
  'Name': 'Intel BootGuard ACM protected',
  'Plugin': 'pci_mei',
  'Summary': 'Intel BootGuard ACM Protected',
  'Uri': 'https://fwupd.github.io/libfwupdplugin/hsi.html#org.fwupd.hsi.IntelBootguard.Acm'},
 {'AppstreamId': 'org.fwupd.hsi.IntelBootguard.Verified',
  'Created': 1668737772,
  'Description': 'Intel BootGuard prevents unauthorized device software from '
                 'operating when the device is started.',
  'Flags': 1,
  'HsiLevel': 2,
  'HsiResult': 3,
  'Name': 'Intel BootGuard verified boot',
  'Plugin': 'pci_mei',
  'Summary': 'Intel BootGuard Verified Boot',
  'Uri': 'https://fwupd.github.io/libfwupdplugin/hsi.html#org.fwupd.hsi.IntelBootguard.Verified'},
 {'AppstreamId': 'org.fwupd.hsi.PlatformDebugLocked',
  'Created': 1668737772,
  'Description': 'Platform Debugging allows device security features to be '
                 'disabled. This should only be used by hardware '
                 'manufacturers.',
  'Flags': 1,
  'Guid': ['b9a2dd81-159e-5537-a7db-e7101d164d3f',
           '30249f37-d140-5d3e-9319-186b1bd5cac3',
           'ab855c04-4ff6-54af-8a8a-d8193daa0cd8',
           '3ebbde86-d03e-549a-a8fd-02ebf9aa537a'],
  'HsiLevel': 2,
  'HsiResult': 5,
  'Name': 'Platform Debugging',
  'Plugin': 'msr',
  'Summary': 'Platform Debugging',
  'Uri': 'https://fwupd.github.io/libfwupdplugin/hsi.html#org.fwupd.hsi.PlatformDebugLocked'},
 {'AppstreamId': 'org.fwupd.hsi.Tpm.ReconstructionPcr0',
  'Created': 1668737772,
  'Description': 'The TPM (Trusted Platform Module) Reconstruction is used to '
                 'check whether the device start process has been modified.',
  'Flags': 1,
  'Guid': ['ff71992e-52f7-5eea-94ef-883e56e034c6',
           'fac1c8f3-73c8-5cd6-8330-07a3690b5140',
           '2b17590c-d755-5c13-a7d4-f68fb0dcb4c4',
           'e9ccc1dc-960a-5e09-afe9-e59a904b776d',
           '5c410147-6fa3-5a6c-9386-c006959c7f91'],
  'HsiLevel': 2,
  'HsiResult': 3,
  'Name': 'TPM PCR0 reconstruction',
  'Plugin': 'tpm',
  'Summary': 'TPM Reconstruction',
  'Uri': 'https://fwupd.github.io/libfwupdplugin/hsi.html#org.fwupd.hsi.Tpm.ReconstructionPcr0'},
 {'AppstreamId': 'org.fwupd.hsi.Iommu',
  'Created': 1668737772,
  'Description': 'IOMMU Protection prevents connected devices from accessing '
                 'unauthorized parts of system memory.',
  'Flags': 6144,
  'HsiLevel': 2,
  'HsiResult': 12,
  'Name': 'IOMMU',
  'Plugin': 'iommu',
  'Summary': 'IOMMU Protection',
  'Uri': 'https://fwupd.github.io/libfwupdplugin/hsi.html#org.fwupd.hsi.Iommu'},
 {'AppstreamId': 'org.fwupd.hsi.IntelBootguard.Otp',
  'Created': 1668737772,
  'Description': 'Intel BootGuard prevents unauthorized device software from '
                 'operating when the device is started.',
  'Flags': 2048,
  'HsiLevel': 2,
  'HsiResult': 4,
  'Name': 'Intel BootGuard OTP fuse',
  'Plugin': 'pci_mei',
  'Summary': 'Intel BootGuard Fuse',
  'Uri': 'https://fwupd.github.io/libfwupdplugin/hsi.html#org.fwupd.hsi.IntelBootguard.Otp'},
 {'AppstreamId': 'org.fwupd.hsi.IntelBootguard.Policy',
  'Created': 1668737772,
  'Description': 'Intel BootGuard Error Policy ensures the device does not '
                 'continue to start if its device software has been tampered '
                 'with.',
  'Flags': 1,
  'HsiLevel': 3,
  'HsiResult': 3,
  'Name': 'Intel BootGuard error policy',
  'Plugin': 'pci_mei',
  'Summary': 'Intel BootGuard Error Policy',
  'Uri': 'https://fwupd.github.io/libfwupdplugin/hsi.html#org.fwupd.hsi.IntelBootguard.Policy'},
 {'AppstreamId': 'org.fwupd.hsi.IntelCet.Enabled',
  'Created': 1668737772,
  'Description': 'Intel Control-Flow Enforcement Technology detects and '
                 'prevents certain methods for running malicious software on '
                 'the device.',
  'Flags': 1,
  'Guid': ['b9a2dd81-159e-5537-a7db-e7101d164d3f',
           '30249f37-d140-5d3e-9319-186b1bd5cac3',
           'ab855c04-4ff6-54af-8a8a-d8193daa0cd8',
           '3ebbde86-d03e-549a-a8fd-02ebf9aa537a'],
  'HsiLevel': 3,
  'HsiResult': 1,
  'Name': 'Intel CET Enabled',
  'Plugin': 'cpu',
  'Summary': 'Intel CET',
  'Uri': 'https://fwupd.github.io/libfwupdplugin/hsi.html#org.fwupd.hsi.IntelCet.Enabled'},
 {'AppstreamId': 'org.fwupd.hsi.SuspendToIdle',
  'BiosSettingCurrentValue': 'Windows',
  'BiosSettingId': 'com.thinklmi.SleepState',
  'BiosSettingTargetValue': 'Windows',
  'Created': 1668737772,
  'Description': 'Suspend to Idle allows the device to quickly go to sleep in '
                 'order to save power. While the device has been suspended, '
                 'its memory could be physically removed and its information '
                 'accessed.',
  'Flags': 1,
  'HsiLevel': 3,
  'HsiResult': 1,
  'Name': 'Suspend-to-idle',
  'Plugin': 'acpi_facp',
  'Summary': 'Suspend To Idle',
  'Uri': 'https://fwupd.github.io/libfwupdplugin/hsi.html#org.fwupd.hsi.SuspendToIdle'},
 {'AppstreamId': 'org.fwupd.hsi.SuspendToRam',
  'Created': 1668737772,
  'Description': 'Suspend to RAM allows the device to quickly go to sleep in '
                 'order to save power. While the device has been suspended, '
                 'its memory could be physically removed and its information '
                 'accessed.',
  'Flags': 1,
  'HsiLevel': 3,
  'HsiResult': 2,
  'Name': 'Suspend-to-ram',
  'Plugin': 'linux_sleep',
  'Summary': 'Suspend To RAM',
  'Uri': 'https://fwupd.github.io/libfwupdplugin/hsi.html#org.fwupd.hsi.SuspendToRam'},
 {'AppstreamId': 'org.fwupd.hsi.PrebootDma',
  'Created': 1668737772,
  'Description': 'Pre-boot DMA protection prevents devices from accessing '
                 'system memory after being connected to the computer.',
  'HsiLevel': 3,
  'HsiResult': 4,
  'Name': 'Pre-boot DMA protection',
  'Plugin': 'acpi_dmar',
  'Summary': 'Pre-boot DMA Protection',
  'Uri': 'https://fwupd.github.io/libfwupdplugin/hsi.html#org.fwupd.hsi.PrebootDma'},
 {'AppstreamId': 'org.fwupd.hsi.IntelSmap',
  'Created': 1668737772,
  'Description': 'Intel Supervisor Mode Access Prevention ensures critical '
                 'parts of device memory are not accessed by less secure '
                 'programs.',
  'Flags': 1,
  'Guid': ['b9a2dd81-159e-5537-a7db-e7101d164d3f',
           '30249f37-d140-5d3e-9319-186b1bd5cac3',
           'ab855c04-4ff6-54af-8a8a-d8193daa0cd8',
           '3ebbde86-d03e-549a-a8fd-02ebf9aa537a'],
  'HsiLevel': 4,
  'HsiResult': 1,
  'Name': 'Intel SMAP',
  'Plugin': 'cpu',
  'Summary': 'Intel SMAP',
  'Uri': 'https://fwupd.github.io/libfwupdplugin/hsi.html#org.fwupd.hsi.IntelSmap'},
 {'AppstreamId': 'org.fwupd.hsi.EncryptedRam',
  'Created': 1668737772,
  'Description': 'Encrypted RAM makes it impossible for information that is '
                 'stored in device memory to be read if the memory chip is '
                 'removed and accessed.',
  'Flags': 4096,
  'Guid': ['b9a2dd81-159e-5537-a7db-e7101d164d3f',
           '30249f37-d140-5d3e-9319-186b1bd5cac3',
           'ab855c04-4ff6-54af-8a8a-d8193daa0cd8',
           '3ebbde86-d03e-549a-a8fd-02ebf9aa537a'],
  'HsiLevel': 4,
  'HsiResult': 2,
  'Name': 'Encrypted RAM',
  'Plugin': 'cpu',
  'Summary': 'Encrypted RAM',
  'Uri': 'https://fwupd.github.io/libfwupdplugin/hsi.html#org.fwupd.hsi.EncryptedRam'}]